@font-face {
  font-family: 'Baloo 2';
  src: url('./fonts/Baloo2-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
}

.content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #028090;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 2px;
  text-align: center;
}